<div class="card">
    <img class="card_img" src="{{poster_path}}" alt="Official poster{{original_title}}" width="280px" />
    <h2 class="card_title">{{title}}</h2>
    <div class="details">
        <p class="details_vote"> Vote / Votes <span class="details_vote--value">{{vote_count}}/{{vote_average}}</span>
        </p>
        <p class="details_popularity"> Popularity <span class="details_popularity--value">{{popularity}}</span></p>
        <p class="details_original-title"> Original Title <span
                class="details_original-title--value">{{original_title}}</span>
        </p>
        <p class="details_genre"> Genre </p>
    </div>

    <h3 class="card_description-title">About</h3>
    <p class="card_description">{{overview}}</p>

    <div class="card_button-conteiner">
        <button class="card_button--add-to-watched"></button>
        <button class="card_button--add-to-queue"></button>
    </div>

</div>