<ul class="container movie-list">
    {{#each this}}
    <li class="list-item" id="{{this.id}}">
        <div>
            <img src="{{this.poster_path}}" alt="{{this.title}}">
            <h2>{{this.title}}</h2>
            <p>{{this.genre_ids}} | {{this.release_date}}<span>{{this.popularity}}</span></p>
        </div>
    </li>
    {{/each}}
</ul>
{{!-- https://image.tmdb.org/t/p/w58_and_h87_face/this.poster_paths --}}